<html>
  <head>
    <title>The Project - DwK</title>
  </head>
  <body>
    <h1>The Project App</h1>

    <img src="{{url_for('static', filename='image.jpg')}}" alt="The Image" height="50%"/>
    
    <form method="post" action="/todos">
      <br><br>
      <input type="text" name="todo-input" id="todo-input" maxlength="140" placeholder="max. 140 chars">

      <button type="submit">Create TODO</button>
      <br><br>
    </form>

    <h2>Todos</h2>

    <ul>
    {% for item in todos %}
    <div>
        <form method="put" action="/todos/{{item[0]}}">
          <li> {{item[1]}} <button type="submit">Mark as Done</button></li>
        </form>
    </div>
    {% endfor %}
    </ul>

    <h2>Done</h2>

    <ul>
    {% for done_item in dones %}
    <div>
        <li> {{done_item}} </li>
    </div>
    {% endfor %}
    </ul>

  </body>
</html>
